<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleDisplayName</key>
	<string>ManitosXpress Socio</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>com.xpress.manitosocio</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ManitosXpress Socio</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(FLUTTER_BUILD_NAME)</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.933474056744-dd50i7ubuoto1krkvavre1fjse1fe4v3</string>
				<string>app-1-933474056744-ios-a4f52d1b000b05bcf8131d</string>
				<string>comgooglemaps</string>
				<string>com.googleusercontent.apps.933474056744-6o1u1238gkoj9q7052b2i8je0r1m4ij4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>$(FLUTTER_BUILD_NUMBER)</string>
	<key>GMSApiKey</key>
	<string>AIzaSyCSp5RbLBZKMLHT0RJH3Zk5JRXZ4LOrQYc</string>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>google</string>
		<string>com-google-gidconsent2</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppleIDUsageDescription</key>
	<string>Este descriptor se utiliza para iniciar sesión con Apple.</string>
	<key>NSCameraUsageDescription</key>
	<string>Necesitamos acceso a la cámara para que los trabajadores puedan tomar fotos al completar un trabajo y para que los clientes puedan compartir imágenes relevantes con los trabajadores.</string>
	<key>NSLocationAlwaysAndWhenInUseUsageDescription</key>
	<string>Necesitamos acceso a su ubicación para enviar trabajadores a su domicilio y proporcionar servicios precisos y eficientes, incluso cuando la aplicación está en segundo plano.</string>
	<key>NSLocationUsageDescription</key>
	<string>Necesitamos acceso a su ubicación en todo momento para asegurarnos de que los trabajadores puedan llegar a su domicilio sin importar cuándo solicite el servicio.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>Necesitamos acceder a su ubicación mientras la aplicación está en uso para guiar a los trabajadores a su domicilio y proporcionarle servicios precisos.</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>Necesitamos acceso a la biblioteca de fotos para guardar imágenes tomadas por los trabajadores y clientes, permitiendo compartir fotos relevantes entre ellos.</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>Necesitamos acceso a la biblioteca de fotos para que los clientes puedan seleccionar y cargar imágenes desde su galería, permitiendo compartir fotos relevantes con los trabajadores.</string>
	<key>NSUserNotificationUsageDescription</key>
	<string>Esta aplicación utiliza notificaciones para mantenerlo informado sobre eventos importantes.</string>
	<key>NSUserTrackingUsageDescription</key>
	<string>Esta aplicación utiliza su ID de dispositivo para ofrecerle una mejor experiencia y contenido personalizado. Su ubicación se utiliza para conectarlo con trabajadores cercanos y proporcionar servicios precisos y eficientes. No compartimos su información personal sin su consentimiento.</string>

	<key>UIApplicationSupportsIndirectInputEvents</key>
	<true/>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>Main</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>aps-environment</key>
	<string>production</string>
	<key>keychain-access-groups</key>
	<array>
		<string>$(AppIdentifierPrefix)$(CFBundleIdentifier)</string>
	</array>
</dict>
</plist>
